body {
  font-family: Roboto, sans-serif;
  color: #434455;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  margin: 0;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h2,
h3 {
  color: #2e2f42;
}

a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */

.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 40px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.contacts-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio {
  color: var(--ocean, #404bbf);
}

.nav-studio::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean, #404bbf);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  margin: 0;
}

/* Contacts(header) */

.contacts-header {
  font-style: normal;
}

.email {
  color: #434455;
  letter-spacing: 0.32px;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.email:focus {
  color: #404bbf;
}

/* Logotype */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 117%;
  color: #4d5ae5;
}

header .studio-logo {
  color: #2e2f42;
}

/* Navigation */

.nav-contacts:hover,
.nav-portfolio:hover {
  color: #404bbf;
}

.menu-button {
  background-color: transparent;
  border: none;
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 320px;
}

.close-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* First section */

.first-section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-sect-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-heading {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  max-width: 496px;
}

button {
  cursor: pointer;
}

.head-button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-button:hover,
.head-button:focus {
  background-color: #404bbf;
}

/* Second Section */

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-icon {
  width: 64px;
  height: 64px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 72px) / 4);
}

.feature-icon-bg {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  background: var(--cloud, #f4f4fd);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.second-section-title {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section-text {
  font-size: 16px;
  letter-spacing: 0.32px;
}

/* Third Section */

.third-section {
  background-color: #f4f4fd;
}

.third-section-main-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-item-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 264px;
  padding-bottom: 32px;
  padding-top: 32px;
  gap: 8px;
}

.third-section-title {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}

.third-section-text {
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: center;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-sm-item {
  width: 40px;
  height: 40px;
}

.team-sm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

.team-sm-link:hover,
.team-sm-link:focus {
  background-color: #404bbf;
}

/* Forth section */

.forth-section-main-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.forth-section-title {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 8px;
}

.forth-section-text {
  font-size: 16px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-item {
  width: 360px;
  padding-bottom: 0px;
  flex-shrink: 0;
  width: calc((100% - 48px) / 3);
  background: var(--white, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay-cont {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: #4d5ae5;
  transform: translateY(100%);
  padding: 40px 32px 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .overlay {
  transform: translateY(0);
}

.project-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item-cont {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  padding-bottom: 32px;
  padding-top: 32px;
}

/* Footer */

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  max-width: 264px;
}

.page-footer .studio-logo {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-sm-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-logo-text-cont {
  margin-right: 120px;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-sm-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subsc-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  line-height: 1.5;
}

.footer-email::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.footer-tg-ic {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

.footer-form-cont {
  margin-left: 80px;
}

/* Modal */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: inherit;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-window {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap,
.comment-text {
  margin-top: 4px;
}

.form-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 16px;
}

.form-text {
  font-size: 12px;
  font-style: normal;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.checkb-form-text {
  font-size: 12px;
  font-style: normal;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}

.terms-box {
  display: flex;
  margin-bottom: 24px;
}

.send-button {
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  width: min-content;
  align-self: center;
  display: block;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-check:checked + .checkb-form-text > .checkbox-cont {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.prpl-link {
  color: #4d5ae5;
}

.input-box {
  margin-bottom: 8px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus .close-icon {
  fill: #ffffff;
}

.comment-text {
  font-size: 12px;
  font-style: normal;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  resize: none;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus {
  border-color: #4d5ae5;
}

.comment-text::placeholder {
  padding: 8px 0 0 16px;
}

.input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
  background-color: var(--OCEAN, #404bbf);
}

.input:focus + svg {
  fill: #4d5ae5;
}

.input:focus {
  border: 1px solid var(--IRIS, #4d5ae5);
  outline: none;
}

.checkbox-cont {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.custom-checkbox-icon {
  width: 10px;
  height: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 16px;
  }
}
